@import "gemv/bootstrap";
@import "gemv/reset";

.container {
    @include container-fixed()
}

@include gridSystem-generate;

body {
    background: darken($greyLight, 5%) url($backgroundNoise) repeat;
    @include font-sans-serif(20px, normal, 30px);
    color: #727272;
    margin: 0;
    padding: 0;
}

h1 {
    @include font-serif(36px, normal, 45px);
    color: #3BBBED;
    margin: 40px 0 0 0;
}

.franz {
    background: transparent url('http://gemvara-maintenance.s3.amazonaws.com/img/franz.png') 50% top no-repeat;
    height: 410px;
}

.text-right {
    text-align: right;
}

a {
    @include link-colors(#3BBBED, #3BBBED, #3BBBED, #3BBBED, #3BBBED);
}

#logo {
    margin: 0 auto;
    display: block;
}

#header {
    margin: 30px 0;
}

#footer {
    width: 100%;
    background: rgba(0, 0, 0, .05);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C000000,endColorstr=#0C000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C000000,endColorstr=#0C000000);
    text-align: center;
    padding: 10px 0 30px;
    font-size: 18px;
    position: relative;
    overflow: visible;
}

.hide-text {
    @include hide-text;
}

p {
    padding: 0;
    margin: 0;
}

#share {
    position: absolute;
    left: 50%;
    top: 41px;
    margin-left: -87px;

    a {
        display: inline-block;
        height: 35px;
        width: 35px;
        margin: 10px;
        background: transparent url(http://gemvara-maintenance.s3.amazonaws.com/img/share.png) 0 0 no-repeat;
    }

    #pinterest {
        background-position: 0 0;
    }

    #facebook {
        background-position: -50px 0;
    }

    #twitter {
        background-position: -102px 0;
    }
}