!!!
%html
    %head
        %title Gemvara Maintenance
        %css{:src => 'stylesheets/screen.css'}
        %javascript{:src => 'http://use.typekit.com/vka4ibh.js'}
        %javascript try{Typekit.load();}catch(e){}

    %body
        %h1 Hello!